.cart-panel {
    background-color: $white;
    height: 100%;
    width: 355px;
    text-align: center;
    margin-top: 60px;
    position: fixed;
    top: 0;
    right: -355px;
    opacity: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    transition: .3s ease;

    &.active {
        right: 0;
        opacity: 1;
    }
    
    .cart-value {
        line-height: 60px;
        height: 60px;
        width: 100%;
        padding: 0 1.5rem;
        border: 1px solid $md-grey;
        display: flex;
        align-items: center;

        span {
            display: block;
            color: $white;
            background-color: $green;
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            border-radius: 50%;
        }
    }

    .cart-item-list {
        width: 100%;
        padding-bottom: 2rem;

        .cart-item {
            border-bottom: 1px solid $md-grey;
            padding: 2rem 0;
            display: flex;
            align-items: center;
    
            .cart-img-wpr {
                width: 140px;
            }

            .cart-info-title {
                color: $dark-grey;
                font-size: 22px;
                padding-bottom: .5rem;
                display: inline-block;

                &:hover {
                    text-decoration: underline;
                }
            }

            .cart-info-lower {

                .cart-price {
                    font-size: 18px;
                    color: $green;
                }

                a {
                    color: $dark-grey;
                    font-size: 14px;
                    display: inline-block;
                    text-decoration: underline;
                    margin-left: .5rem;
                }
            }
        }
    }

    .cart-footer {
        // flex: 0 0 auto;

        .cart-total {
            display: block;
            background-color: $lt-grey;
            color: $dark-grey;
            font-size: 18px;
            line-height: 60px;
            height: 60px;
            width: 100%;
        }

        .cart-checkout {
            display: block;
            background-color: $dark-grey;
            color: $white;
            font-size: 18px;
            line-height: 60px;
            height: 60px;
            width: 100%;
            text-transform: uppercase;
            letter-spacing: .4rem;
            transition: .3s ease;
    
            &:hover {
                background-color: $black;
            }
        }
    }
}

