.products {
  .product-grid {
    .grid-item {
      padding: 2rem 3rem 6rem;
      border: .5px solid $md-grey;
      transition: .5s;

      &:hover {
        background-color: $lt-grey;

        .product-overlay {
          opacity: 1;
          z-index: 1;
          transform: translateY(0);
        }
      }

      .product-info {
        padding-bottom: 1rem;

        & > span {
          display: block;
          text-align: center;
        }
      }

      .product-year {
        padding: .625rem 0;
        font-size: .875rem;
        font-weight: 600;
        color: $dker-md-grey;
        letter-spacing: 4px;
      }

      .product-title {
        padding: 0 0 .3125rem;
        color: $dark-grey;
        font-size: 1.625rem;
      }

      .product-price {
        font-size: 1.375rem;
        font-weight: 600;
        color: $green;
      }

      .product-overlay {
        background: rgba(255,255,255,0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 5px;
        transform: translateY(30px);
        opacity: 0;
        z-index: -1;
        transition: all .48s ease;
        text-align: center;

        li {
          display: inline-block;
        }

        li:not(:last-child) {
          margin-right: 1rem;
        }

        button {
          border: none;
          padding: 10px 12px;
          background-color: $green;

          &:hover {
            cursor: pointer;
            background-color: $dk-green;
          }

          i {
            font-size: 28px;
            color: $white;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .show-more-products {
    display: block;
    background-color: rgba(242,245,249,.6);
    color: $dark-grey;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $md-grey;
    z-index: 10;

    &:hover {
      background-color: rgba(242,245,249,.8);
    }
  }
}
