.product-grid {
  .grid-item {
    padding: 4rem 2rem;
    border: .5px solid $md-grey;
    transition: .3s;

    &:hover {
      background-color: $lt-grey;

      .product-overlay {
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
      }
    }
    .product-info > span {
      display: block;
      text-align: center;
    }
    .product-year {
      padding: .625rem 0;
      font-size: .875rem;
      font-weight: 600;
      color: $dker-md-grey;
      letter-spacing: 4px;
    }
    .product-title {
      padding: 0 0 .3125rem;
      color: $dark-grey;
      font-size: 1.625rem;
    }
    .product-price {
      font-size: 1.375rem;
      font-weight: 600;
      color: $green;
    }
    .product-overlay {
      background: rgba(255,255,255,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 5px;
      transform: translateY(-30px);
      opacity: 0;
      z-index: -1;
      transition: all .48s ease;
    }
  }
}
