*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  // color: $dark-grey;
  color: #242424;

  .container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    text-decoration: none;
    // color: $dark-grey;
    color: #242424;
  }

  li {
    list-style: none;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .content.fixed {
    position: fixed;
  }
}
