*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  // color: $dark-grey;
  color: #242424;



  .container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    text-decoration: none;
    // color: $dark-grey;
    color: #242424;
  }

  li {
    list-style: none;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .content {
    position: fixed;

    &.unfix {
      position: static;

      &.overlay::after {
        content: '';
        // background-color: $dark-grey;
        background-color: #242424;
        opacity: .5;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
