$white: #fff;
$black: #000;

$pink: #d095b7;
$dk-pink: #df4b63;
$green: #92cacc;
$dk-green: #6fb9bc;
$lter-grey: #f2f5f9;
$lt-grey: #f2f5f9;
$md-grey: #e8e8e8;
$dker-md-grey: #a9a9a9;
$dark-grey: #242424;
