@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: #242424; }
  body .container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0; }
  body a {
    text-decoration: none;
    color: #242424; }
  body li {
    list-style: none; }
  body .img-fluid {
    max-width: 100%;
    height: auto; }
  body .content {
    position: fixed; }
    body .content.unfix {
      position: static; }

.header-wrapper {
  background: #242424;
  height: 60px;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /*******************
NAV TOGGLE
*******************/ }
  .header-wrapper a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.625rem; }
  .header-wrapper .cart {
    cursor: pointer; }
  .header-wrapper .toggle-nav {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px; }
    .header-wrapper .toggle-nav .line,
    .header-wrapper .toggle-nav .line::before,
    .header-wrapper .toggle-nav .line::after {
      content: '';
      background: #fff;
      height: 3px;
      width: 25px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .header-wrapper .toggle-nav .line::before {
      width: 35px;
      top: calc(50% - 10px);
      left: calc(50% + 5px);
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .header-wrapper .toggle-nav .line::after {
      width: 35px;
      top: calc(50% + 10px);
      left: calc(50% + 5px);
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .header-wrapper .toggle-nav.close-nav .line {
      background: transparent;
      -webkit-transition: .3s;
      transition: .3s; }
    .header-wrapper .toggle-nav.close-nav .line::before {
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
              transform: translateX(-50%) translateY(-50%) rotateZ(-45deg); }
    .header-wrapper .toggle-nav.close-nav .line::after {
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
              transform: translateX(-50%) translateY(-50%) rotateZ(45deg); }

/*******************
MENU
*******************/
.menu {
  background-color: #fff;
  height: 450px;
  width: 355px;
  text-align: center;
  padding: 8.75rem 2rem;
  position: fixed;
  top: 0;
  left: -355px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 3; }
  @media (max-width: 767px) {
    .menu {
      width: 100%; } }
  .menu .menu-item {
    color: #242424;
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 0 0; }
    .menu .menu-item:first-child {
      padding: 0; }
    .menu .menu-item .menu-link {
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .menu .menu-item .menu-link:hover {
        color: #d095b7; }
  .menu.active {
    left: 0;
    opacity: 1; }

.hero-image {
  background: no-repeat center url("../images/hero_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero-image::after {
    content: "";
    background-color: #000;
    opacity: .4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .hero-image .hero-content {
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2; }
    .hero-image .hero-content .hero-title {
      font-size: 3.5rem;
      text-shadow: 0 0 25px -5px #000; }
    .hero-image .hero-content .hero-subtitle {
      font-size: 1.875rem;
      font-weight: 400;
      line-height: 1.75; }

.products .product-grid .grid-item {
  padding: 2rem 3rem 6rem;
  border: 0.5px solid #e8e8e8;
  -webkit-transition: .5s;
  transition: .5s; }
  .products .product-grid .grid-item:hover {
    background-color: #f2f5f9; }
    .products .product-grid .grid-item:hover .product-overlay {
      opacity: 1;
      z-index: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .products .product-grid .grid-item .product-info {
    padding-bottom: 1rem; }
    .products .product-grid .grid-item .product-info > span {
      display: block;
      text-align: center; }
  .products .product-grid .grid-item .product-year {
    padding: .625rem 0;
    font-size: .875rem;
    font-weight: 600;
    color: #a9a9a9;
    letter-spacing: 4px; }
  .products .product-grid .grid-item .product-title {
    padding: 0 0 .3125rem;
    color: #242424;
    font-size: 1.625rem; }
  .products .product-grid .grid-item .product-price {
    font-size: 1.375rem;
    font-weight: 600;
    color: #92cacc; }
  .products .product-grid .grid-item .product-overlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 5px;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .48s ease;
    transition: all .48s ease;
    text-align: center; }
    .products .product-grid .grid-item .product-overlay li {
      display: inline-block; }
    .products .product-grid .grid-item .product-overlay li:not(:last-child) {
      margin-right: 1rem; }
    .products .product-grid .grid-item .product-overlay button {
      border: none;
      padding: 10px 12px;
      background-color: #92cacc; }
      .products .product-grid .grid-item .product-overlay button:hover {
        cursor: pointer;
        background-color: #6fb9bc; }
      .products .product-grid .grid-item .product-overlay button i {
        font-size: 28px;
        color: #fff;
        vertical-align: middle; }

.products .show-more-products {
  display: block;
  background-color: rgba(242, 245, 249, 0.5);
  color: #242424;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e8e8e8;
  z-index: 10; }
  .products .show-more-products:hover {
    background-color: rgba(242, 245, 249, 0.8); }

.modal {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; }
  .modal::after {
    content: '';
    background-color: #242424;
    opacity: .8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; }
  .modal .message {
    -webkit-box-shadow: 0 0 25px -5px #000;
            box-shadow: 0 0 25px -5px #000;
    border-radius: 5px;
    background: #f2f5f9;
    height: 20.5rem;
    width: 25rem;
    margin: auto;
    padding: 2.5rem 1.25rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 101; }
    @media (max-width: 450px) {
      .modal .message {
        width: 100%; } }
    .modal .message h2 {
      line-height: 1.25;
      font-weight: 400; }
    .modal .message .success-error p {
      padding-top: .5rem;
      font-size: 1.125rem;
      color: #df4b63; }
      .modal .message .success-error p.text-dark {
        color: #242424; }
    .modal .message select {
      color: #fff;
      background-color: #92cacc;
      border: none;
      width: 120px;
      font-size: larger;
      margin: 1rem 0; }
    .modal .message .formsubmit {
      background-color: #92cacc;
      color: #fff;
      cursor: pointer;
      border: none;
      display: inline-block;
      padding: 1rem 2.5rem;
      font-size: 1.5rem;
      margin: .75rem 0;
      text-align: center;
      -webkit-transition: .3s;
      transition: .3s; }
      .modal .message .formsubmit:hover {
        background-color: #6fb9bc; }

footer {
  background-color: #242424;
  position: relative; }
  footer p {
    color: #fff;
    font-size: .875rem;
    text-align: center;
    padding: .75rem .5rem; }
    footer p a {
      color: #fff;
      text-decoration: none; }
  footer .newsletter {
    padding: 80px 25px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    footer .newsletter .social-links-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-right: 2rem;
      border-right: 1px solid #e8e8e8; }
      footer .newsletter .social-links-list .social-item {
        padding-right: 1rem; }
        footer .newsletter .social-links-list .social-item:last-child {
          margin-right: 1rem; }
        footer .newsletter .social-links-list .social-item button {
          background-color: #242424;
          border: none;
          color: #fff;
          font-size: 28px;
          height: 60px;
          width: 60px; }
        footer .newsletter .social-links-list .social-item.fb button {
          background-color: #3b5998;
          cursor: pointer; }
        footer .newsletter .social-links-list .social-item.tw button {
          background-color: #26a6d1;
          cursor: pointer; }
        footer .newsletter .social-links-list .social-item.ig button {
          background-color: #3f729b;
          cursor: pointer; }
    footer .newsletter .subscribe {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .newsletter .subscribe .subscribe-title {
        font-size: 26px; }
      footer .newsletter .subscribe .subscribe-form {
        padding-left: 2rem; }
        footer .newsletter .subscribe .subscribe-form input {
          background-color: #fcfafa;
          color: #979797;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 20px;
          line-height: 60px;
          height: 60px;
          width: 350px;
          padding: 0 1rem;
          border: 1px solid #e8e8e8; }
        footer .newsletter .subscribe .subscribe-form button {
          background-color: #92cacc;
          color: #fff;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 22px;
          line-height: 60px;
          height: 60px;
          width: 180px;
          border: none;
          margin-left: 1rem;
          -webkit-transition: .3s ease;
          transition: .3s ease; }
          footer .newsletter .subscribe .subscribe-form button:hover {
            cursor: pointer;
            background-color: #6fb9bc; }

body.loader-site {
  overflow: hidden; }

.loader-wrapper {
  height: 100%;
  width: 100%;
  background: #242424;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #d095b7;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d095b7 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s; }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.cart-panel {
  background-color: #fff;
  height: 100%;
  width: 355px;
  text-align: center;
  margin-top: 60px;
  position: fixed;
  top: 0;
  right: -355px;
  opacity: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  @media (max-width: 450px) {
    .cart-panel {
      width: 100%; } }
  .cart-panel.active {
    right: 0;
    opacity: 1; }
  .cart-panel .cart-value {
    line-height: 60px;
    height: 60px;
    width: 100%;
    padding: 0 1.5rem;
    border: 1px solid #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .cart-panel .cart-value span {
      display: block;
      color: #fff;
      background-color: #92cacc;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      border-radius: 50%; }
  .cart-panel .cart-item-list {
    width: 100%;
    padding-bottom: 2rem; }
    .cart-panel .cart-item-list .cart-item {
      border-bottom: 1px solid #e8e8e8;
      padding: 2rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .cart-panel .cart-item-list .cart-item .cart-img-wpr {
        width: 140px; }
      .cart-panel .cart-item-list .cart-item .cart-info-title {
        color: #242424;
        font-size: 22px;
        padding-bottom: .5rem;
        display: inline-block; }
        .cart-panel .cart-item-list .cart-item .cart-info-title:hover {
          text-decoration: underline; }
      .cart-panel .cart-item-list .cart-item .cart-info-lower .cart-price {
        font-size: 18px;
        color: #92cacc; }
      .cart-panel .cart-item-list .cart-item .cart-info-lower a {
        color: #242424;
        font-size: 14px;
        display: inline-block;
        text-decoration: underline;
        margin-left: .5rem; }
  .cart-panel .cart-footer .cart-total {
    display: block;
    background-color: #f2f5f9;
    color: #242424;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    width: 100%; }
  .cart-panel .cart-footer .cart-checkout {
    display: block;
    background-color: #242424;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .4rem;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .cart-panel .cart-footer .cart-checkout:hover {
      background-color: #000; }

.item-block {
  padding: 150px 0 20px; }
  .item-block .item-img-wrapper {
    max-width: 450px;
    margin: auto; }
  .item-block .item-info {
    max-width: 720px;
    margin: 80px auto 0;
    text-align: center;
    padding: 0 2rem; }
    .item-block .item-info .item-title {
      display: inline-block;
      font-size: 46px;
      font-weight: 600; }
      .item-block .item-info .item-title::after {
        content: '•';
        display: inline-block;
        padding-left: 1.5rem; }
    .item-block .item-info .item-price {
      color: #a9a9a9;
      display: inline-block;
      font-size: 44px;
      font-weight: 600;
      font-family: 'Work Sans', sans-serif;
      padding-left: 1.5rem; }
    .item-block .item-info .item-cart-form {
      padding-top: 2.5rem; }
      .item-block .item-info .item-cart-form input {
        width: 5rem;
        text-align: center; }
    .item-block .item-info .item-desc {
      padding-top: 2.5rem;
      font-size: 1rem;
      font-family: 'Work Sans', sans-serif;
      line-height: 1.4; }
    .item-block .item-info .item-specs-list {
      padding: 2.5rem 1.5rem 0 1.5rem;
      font-family: 'Work Sans', sans-serif;
      font-size: .875rem; }
      .item-block .item-info .item-specs-list .spec:not(:first-child) {
        padding-top: 1.25rem; }

form input {
  background-color: #fcfafa;
  color: #979797;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 60px;
  height: 60px;
  width: 350px;
  border: 1px solid #e8e8e8; }

form button {
  background-color: #92cacc;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 60px;
  height: 60px;
  width: 180px;
  border: none;
  margin-left: 1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  form button:hover {
    cursor: pointer;
    background-color: #6fb9bc; }

/*# sourceMappingURL=styles.css.map */
